{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}
{% endwith %}
<h1>Home Page</h1>
<p>Before starting the Quiz let me ask you...</p>
<div>
    <p>Have an account? <a href="{{url_for('login')}}">Log in</a>!</p>
</div>
<div>
    <p>Dont't have an account yet? <a href="{{url_for('register')}}">Join now</a> for free!</p>
</div>
{% endblock content %}